<!-- navbar-->
<header class="header">
    <!-- Primary Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light py-4 border-bottom border-gray bg-white">
      <div class="container d-flex align-items-center justify-content-beween"><a class="navbar-brand" href="#"><img src="..\assets\pal-logo.png" width="70px" height="70px"> PAL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <ul class="list-inline mb-0 d-none d-lg-block">
          <li class="list-inline-item mr-3">
            <div class="d-flex"><i class="far fa-clock h4 text-muted"></i>
              <div class="ml-2">
                <h6 class="text-muted text-uppercase mb-0 text-small">Mon - Fri: 10:00AM - 08:00PM  </h6>
                <p class="small text-gray mb-0">Sunday - CLOSED</p>
              </div>
            </div>
          </li>
          <li class="list-inline-item">
            <div class="d-flex"><i class="fas fa-headphones-alt h4 text-muted"></i>
              <div class="ml-2">
                <h6 class="text-muted text-uppercase mb-0 text-small">+ 0000 0000 0000</h6>
                <p class="small text-gray mb-0">Contact Us For Help</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Secondary Navbar                -->
    <nav class="navbar navbar-expand-lg navbar-light py-0 shadow-sm bg-white">
      <div class="container">
        <div class="collapse navbar-collapse py-3 py-lg-0" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a  routerLink="home" class="nav-link pl-lg-0" href="#">Home <span class="sr-only"></span></a></li>
            <li class="nav-item"><a  routerLink="about" class="nav-link" href="#">About </a></li>
            <li class="nav-item"><a  routerLink="team" class="nav-link" href="#">Team </a></li>          
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Services
              </a>
              <ul class="dropdown-menu">
                <li><a routerLink="physiotherapy"   class="dropdown-item" href="#">Physiotherapy</a></li>
                <li><a routerLink="exercises"  class="dropdown-item" href="#">Exercises</a></li>
                <li><a routerLink="massage" class="dropdown-item" href="#">Massage Therapy</a></li>
                <li><a routerLink="chiropractor" class="dropdown-item" href="#">Chiropractor</a></li>
                <li><a routerLink="workplace" class="dropdown-item" href="#">WorkPlace Injury</a></li>
                <li><a routerLink="mva" class="dropdown-item" href="#">MVA</a></li>
                <li><a routerLink="acupuncture" class="dropdown-item" href="#">ACupuncture</a></li>
                <li><a routerLink="mva" class="dropdown-item" href="#">MVA</a></li>
                <li><a routerLink="modalities" class="dropdown-item" href="#">Modalities</a></li>
                <li><a routerLink="cupping" class="dropdown-item" href="#">Cupping Therapy</a></li>
                <li><a routerLink="custom-foot" class="dropdown-item" href="#">Custom Foot Orthotics</a></li>
              
             </ul>
            </li>
    
            <li class="nav-item"><a  routerLink="contact" class="nav-link" href="#">Contact </a></li>
            
          </ul>
          
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link px-4 d-inline-block" id="searchToggler" href="#"><i class="fas fa-search text-muted"></i><i class="fas fa-times text-muted d-none"></i></a></li>
            <li class="nav-item"><a class="nav-link border-left px-4 bg-primary text-white d-inline-block" href="#">Make an Appointment</a></li>
          </ul>
        </div>
        
        <section class="page-title-bar clearfix">
          <div class="inner-wrap">
                <div class="page-title-wrap"><h1> </h1></div>
          </div>
        </section>

      </div>
      
    </nav>
    <div id="container">
      <router-outlet>
      </router-outlet>
  </div>

  </header>