<div id="primary">
    <div id="content" class="clearfix">
        
            
<article id="post-378" class="post-378 page type-page status-publish hentry">
    <div class="entry-content clearfix">
    <h2><span style="color: #1c4275;"><strong>EXERCISE PROGRAM</strong></span></h2>
<p style="color: #000000;">At PAL Physio &amp; Rehab, we believe in an active approach to improving physical health and performance. Exercises will bring a wide range of physical and mental health benefits. A customized exercise program developed by a Registered Physiotherapist / Chiropractor is a great way to recover and stay fit.</p>
<p><span style="color: #1c4275;"><strong>BENEFITS OF EXERCISES</strong></span></p>
<ul>
<li>Exercise plays a vital role in building &amp; maintaining strong muscles and bones.&nbsp; Exercises,&nbsp; to build bone density when you are younger, helping to prevent osteoporosis in later life.</li>
<li>Exercise helps people rebuild strength and movement in parts of their body after an injury.</li>
<li>Exercise can help people to manage pain and prevent permanent damage and recurring problems.</li>
<li>Regular exercises improve flexibility and balance.</li>
</ul>
<p style="color: #000000;">To enhance your recovery, exercises are performed in the clinic and a home exercise program is individually prepared for a client.</p>
<p style="color: #000000;">While designing your home exercise program we will consider,</p>
<ul>
<li>Your short term / long term goals.</li>
<li>We will plan the logical progression of exercises.</li>
<li>Start cautiously and progress slowly.</li>
</ul>
<p style="color: #000000;" align="justify">Home exercises are a very important part of your recovery process so, During your first follow up visit to the clinic, we will provide you Hands-out with pictures/diagrams, description, and prescription of exercises(e.g. how many repetitions, numbers of the set to perform in a day) the hand-outs will also include the precautions to follow during exercises.</p>
<p style="color: #000000;">1) Manual Therapy:</p>
<p style="color: #000000;">Our approach is based on skilled “Hands-On”, Manual Therapy treatment techniques to heal injuries faster and to improve your quality of life.</p>
<p style="color: #000000;">Manual Therapy may include Joint Mobilization, soft tissue mobilization, Trigger Point Release Therapy, Myofascial Release Therapy, and more. The goal is to increase circulation, relieve pain from a wide variety of injuries, and improve mobility.</p>
<p style="color: #000000;"><strong>Are you suffering from pain or limited range of motion?</strong></p>
<p style="color: #000000;"><strong>Start your recovery today!!!</strong></p>


<p></p>
        </div><!-- .entry-content -->

</article><!-- #post -->
            
        
    </div><!-- #content -->
</div>