<footer>
    <div class="column">
        <p>CONTACT</p>
        <ul>
            PAL PHYSIO &REHAB UNIT E-103,<br/>
            6100, FINCH AVENUE W,<br/>
            ETOBICOKE, ON, CANADA<br/>
            Mobile: +1 416-748-3535<br/>
            info&#64;palphysio.ca<br/>
        </ul>
    </div>

    <div class="column">
        <p>Link</p>
        <ul>
            <li>Home</li>
            <li>About Us</li>
            <li>Services</li>
            <li>Team</li>
            <li>Contact</li>
        </ul>
    </div>

    <div class="column">
        <p>Hours Of Operations</p>
        <ul>
            <li>Monday:        10:00 AM – 8:00 PM</li>
            <li>Tuesday:        10:00 AM – 8:00 PM</li>
            <li>Wednesday:  10:00 AM – 8:00 PM</li>
            <li>Thursday:       10:00 AM – 8:00 PM</li>
            <li>Friday:            10:00 AM – 8:00 PM</li>
            <li>Saturday:       10:00 AM – 4:00 PM</li>
            <li>Sunday:     Closed</li>
        </ul>
    </div>
</footer>
