

<section class="page-title-bar clearfix">
    <div class="inner-wrap">
                                                            <div class="page-title-wrap"><h1>About Us</h1></div>
                                                                    </div>
</section>
<div class="container">

<h1>PAL PHYSIOTHERAPY {{empName}}</h1>

<span>
    

PAL PHYSIO & REHAB, we provide the highest quality client care by focusing on treating the cause, not just the symptoms. Our highly qualified, experienced, and motivated physiotherapist and Rehab team will provide an accurate assessment, skilled technique for treatment and appropriate advice to manage your condition regardless of the complexity of the injury & help to recover faster with fewer treatment sessions.

WE TAKE A HOLISTIC APPROACH…to treat people of all ages from children to seniors and a wide variety of conditions including, Acute and Chronic pain, Sports injuries, Post surgical rehabilitation,Soft tissue and joint injuries, osteoarthritis, vertigo, sciatica, repetitive strain,lower back pain, neck pain, motor vehicle injuries , work place injuries, and others.

WE BELIEVE, Every patient is different and so is every injury. We handle each case with the proper amount of care, to address patient needs. We follow the “ Individualized One-on-One session ” between the Practitioner and the patient in sophisticated and calming surroundings to make your healing faster. We also help people become more active and mobile. Our aim is to provide the best rehabilitation experience to make a positive difference in your quality of life.

In consultation with us, you can feel confident that we can ease your pain, and more importantly identify the followings:

    Why you have it?
    (cause for pain)
    How can we help?
    (Assessment/Accurate diagnosis/ evidence-based approach to treatment)
    How can you prevent it from recurring?
    (Education/Home Exercise program/ Activity modification)

Your satisfaction and well-being are our first priority.
</span>
</div>