<div class="inner-wrap">
    <div class="page-title-wrap"><h1>Physiotherapy</h1></div>
            </div>
<div id="main" class="site-main inner-wrap">


<div id="primary">
<div id="content" class="clearfix">


<article id="post-355" class="post-355 page type-page status-publish hentry">
<div class="entry-content clearfix">
<h1 style="color: #1c4275;"><strong>SPECIALITY IN “HANDS-ON”&nbsp; PHYSIOTHERAPY</strong></h1>
<p>&nbsp;</p>
<p ><b>Physiotherapy</b> is one of the well established and respected allied health professions.It includes evidence-based kinesiology, electrotherapy, soft tissue mobilization, exercises prescription, joint mobilization, and health education to treat conditions such as chronic or acute pain, soft tissue injuries, cartilage damage, arthritis, gait disorder, and&nbsp; physical impairments.</p>
<p ><b>Physiotherapy</b> is treatment that is design to improve, maintain and make the most of a patient’s mobility, maximize their strength, promote good physical function, relive pain, injury prevention, fitness and well being for people of all ages.</p>
<p>This is usually achieved by physical methods, most commonly through manual therapy which includes joint mobilization, manipulation, stretching techniques, manual traction, myofascial release, trigger point release followed by individualized exercises prescription and education &amp; advice.</p>
<p><b>Physiotherapy</b> is not only about relieving pain. It is also about returning back to full functional activities with confidence. Our aim at “PAL” is to increase the functional ability of our clients as fast as possible and prevent the recurrence of injury.</p>
<p><b>Physiotherapy</b> at “PAL” is the perfect blend of manual therapy, exercises, and electro modalities to make you mobile, functional, and independent.</p>
<p>Our goal is to provide excellent patient care, evidence-based treatment &amp; personalized physiotherapy service from a dedicated, skilled and licensed physiotherapist to every patient to return to their highest level of function and by promoting wellness in our community.</p>
</div><!-- .entry-content -->

</article><!-- #post -->


</div><!-- #content -->
</div><!-- #primary -->