<div id="primary">
    <div id="content" class="clearfix">
        
            
<article id="post-1421" class="post-1421 page type-page status-publish hentry">
    <div class="entry-content clearfix">
    
<h1 class="wp-block-heading">Motor Vehicle Accident (MVA)</h1>



<p>Have you recently been injured in a motor vehicle accident?</p>



<p>Motor vehicle accidents by their nature are stressful, both emotionally and physically. Understandably, you might not know what you should do. Once injuries occur, it is common to experience pain, discomfort, reduced mobility, stiffness, or headaches. Some times these symptoms are delayed and may not immediately appear after your accident. This pain can interfere with your activities of daily living, work, recreational activities, and progress over time, that is why it is important to initiate care as soon as possible.</p>



<ul><li>One of the most common injuries caused by motor vehicle accidents is Whiplash. Whiplash is described as the sudden and violent movement of the neck from forward to backward or side to side. This sudden movement can result in severe and some times sharp pain. Some other conditions we treat for MVA patients are, not limited to…lower back pain, neck pain, shoulder strain, rotator cuff injury, knee injuries, fibromyalgia, headache.</li></ul>



<p>Physiotherapist at PAL use holistic and personalized approach and create a customized therapy plan for you to improve function and to assist you in returning to your normal functional status as soon as possible<br>We offer a wide range of specialized services for,</p>



<ul><li>Pain management and Rehabilitation.(Hands-on approach, electrotherapeutic modalities)</li><li>Exercises to improve range of motion and flexibility.</li><li>Customized exercises to strengthen muscles, improve balance, and co-ordination.</li><li>Exercises to improve endurance, capacity.</li><li>Education about your specific condition and individualized home exercise program.</li></ul>
        </div><!-- .entry-content -->

</article><!-- #post -->
            
        
    </div><!-- #content -->
</div>