
<section class="page-title-bar clearfix">
    <div class="inner-wrap">
                                                            <div class="page-title-wrap"><h1>Our Team</h1></div>
                                                                    </div>
</section>
<p></p>
<section class="about_section layout_padding">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="..\assets\IMG_1678-scaled-e1603631231439-1536x1179.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Nrupal Shah, <span></span>
                        </h2>
                        Registered Physiotherapist
                    </div>
                    <p><span class="has-inline-color has-very-dark-gray-color">Nrupal is enthusiastic about the
                            improvement of her clients’ overall wellness. She enjoys working with all types of patients,
                            and her goal is to assist them in returning to what they are passionate about, whether it is
                            work, being independent with day-to-day activities, or sports. She strives to do this
                            through a blended treatment approach that includes patient education through assessment,
                            manual therapy, “Hands-On approach,” electrotherapeutic treatment, and exercises.</span></p>
                    <p><span class="has-inline-color has-very-dark-gray-color">is a passionate Physiotherapist for the
                            past 12 years, serving her patients in Canada and India. After graduating from Sardar Patel
                            University in India in&nbsp;2004, Nrupal owned a physio and wellness clinic for nine years
                            in India, where she used her knowledge and experience to enhance the quality of life of
                            others.&nbsp;</span></p>
                    <p><span class="has-inline-color has-very-dark-gray-color">In her spare time, Nrupal enjoys spending
                            time with her friends and family. She is an extrovert who is always happy, positive,
                            cheerful, and sociable. Nrupal also enjoys traveling and cooking.</span></p>
                </div>
            </div>
        </div>

        <br/>
        <div class="row">
            <div class="col-md-6 ">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Dr. Maria,<span></span>
                        </h2>
                        Registered Physiotherapist
                    </div>
                    <p><span class="has-inline-color has-very-dark-gray-color">
                            Dr. Aldea is a registered chiropractor in Ontario and a member of the College of
                            Chiropractors of Ontario. She uses a variety of chiropractic techniques within the office to
                            ensure that you get the quality care you deserve.
                        </span></p>
                    <p><span class="has-inline-color has-very-dark-gray-color">Dr. Aldea is passionate about not just
                            eliminating your pain and symptoms, but also helping you restore your health and function,
                            which will allow you to live life to your fullest potential.</span></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img">
                    <img src="..\assets\IMG_0531-562x1024.jpeg" alt="" width="281" height="511">
                </div>
            </div>
        </div>
    </div>
</section>